[submodule "pack/vendor/start/vim-surround"]
	path = pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/vendor/start/auto-pairs"]
	path = pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/vendor/start/nerdcommenter"]
	path = pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/vendor/start/vim-fugitive"]
	path = pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/vendor/start/indentline"]
	path = pack/vendor/start/indentline
	url = https://github.com/yggdroot/indentline
[submodule "pack/vendor/start/vim-devicons"]
	path = pack/vendor/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/vendor/start/vim-signify"]
	path = pack/vendor/start/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "colors/Spacegray.vim"]
	path = colors/Spacegray.vim
	url = https://github.com/ackyshake/Spacegray.vim
[submodule "pack/vendor/start/vim-wakatime"]
	path = pack/vendor/start/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime
[submodule "pack/vendor/start/tabular"]
	path = pack/vendor/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/vendor/start/nerdtree-git-plugin"]
	path = pack/vendor/start/nerdtree-git-plugin
	url = https://github.com/xuyuanp/nerdtree-git-plugin
[submodule "pack/vendor/start/vim-minimap"]
	path = pack/vendor/start/vim-minimap
	url = https://github.com/severin-lemaignan/vim-minimap
