[submodule "pack/vendor/start/vim-surround"]
	path = pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/vendor/start/auto-pairs"]
	path = pack/vendor/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/vendor/start/nerdcommenter"]
	path = pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/vendor/start/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/vendor/start/vim-fugitive"]
	path = pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/vendor/start/fzf.vim"]
	path = pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/vendor/start/indentline"]
	path = pack/vendor/start/indentline
	url = https://github.com/yggdroot/indentline
[submodule "pack/vendor/start/vim-tmux-focus-events"]
	path = pack/vendor/start/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
[submodule "pack/vendor/start/vim-devicons"]
	path = pack/vendor/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/vendor/start/vim-signify"]
	path = pack/vendor/start/vim-signify
	url = https://github.com/mhinz/vim-signify
